.grid-container {
    display:grid;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

